{% extends '::base.html.twig' %}

{% block body %}
<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->



<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="text-center">
                <h1>Explore Best Deals in Your City</h1>
                <p class="text-bigger">Iaculis hendrerit integer fringilla at placerat bibendum gravida malesuada porta luctus fusce ad suscipit porttitor molestie litora cubilia fringilla parturient dictum ad lobortis turpis accumsan ligula posuere ad facilisis ultricies</p>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>
<div class="bg-holder">
    <div class="bg-mask"></div>
    <div class="bg-blur" style="background-image:url(img/backgrounds/phone.jpg)"></div>
    <div class="container bg-holder-content">
        <div class="gap gap-big text-center">
            <h1 class="mb30 text-white">Weekly Featured Items</h1>
            <div class="row row-wrap">
                <a class="col-md-3" href="#">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Ana 29" />
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">Hot Summer Collection</h5>
                            <p class="product-desciption">Elit gravida neque mollis purus vivamus habitasse iaculis</p>
                            <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 6 days 10 h remaining</span>
                                <ul class="product-price-list">
                                    <li><span class="product-price">$104</span>
                                    </li>
                                    <li><span class="product-old-price">$213</span>
                                    </li>
                                    <li><span class="product-save">Save 49%</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                        </div>
                    </div>
                </a>
                <a class="col-md-3" href="#">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Green Furniture" />
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">Green Furniture Pack</h5>
                            <p class="product-desciption">Elit gravida neque mollis purus vivamus habitasse iaculis</p>
                            <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 1 day 10 h remaining</span>
                                <ul class="product-price-list">
                                    <li><span class="product-price">$85</span>
                                    </li>
                                    <li><span class="product-old-price">$173</span>
                                    </li>
                                    <li><span class="product-save">Save 49%</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                        </div>
                    </div>
                </a>
                <a class="col-md-3" href="#">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">Best Camera</h5>
                            <p class="product-desciption">Elit gravida neque mollis purus vivamus habitasse iaculis</p>
                            <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 5 days 32 h remaining</span>
                                <ul class="product-price-list">
                                    <li><span class="product-price">$88</span>
                                    </li>
                                    <li><span class="product-old-price">$258</span>
                                    </li>
                                    <li><span class="product-save">Save 34%</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                        </div>
                    </div>
                </a>
                <a class="col-md-3" href="#">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="The Hidden Power of the Heart" />
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">Beach Holidays</h5>
                            <p class="product-desciption">Elit gravida neque mollis purus vivamus habitasse iaculis</p>
                            <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 2 days 21 h remaining</span>
                                <ul class="product-price-list">
                                    <li><span class="product-price">$108</span>
                                    </li>
                                    <li><span class="product-old-price">$250</span>
                                    </li>
                                    <li><span class="product-save">Save 43%</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                        </div>
                    </div>
                </a>
            </div>	<a href="#" class="btn btn-white btn-lg btn-ghost">Find More</a>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="container">
    <div class="text-center">
        <h2 class="mb30">New Deals in Your City</h2>
        <div class="row row-wrap" id="masonry">
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="cascada" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Adventure in Woods</h5>
                        <div class="product-desciption">Montes lacinia dui nisi aliquam</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 8 days 46 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$133</span>
                                </li>
                                <li><span class="product-old-price">$265</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="iPhone 5 iPad mini iPad 3" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Electronics Big Deal</h5>
                        <div class="product-desciption">Faucibus potenti egestas nisi aenean dictum ligula</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i>  14 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$117</span>
                                </li>
                                <li><span class="product-old-price">$217</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="the best mode of transport here in maldives" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Finshing in Maldives</h5>
                        <div class="product-desciption">Mi porttitor at sit habitasse phasellus</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 9 days 22 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$71</span>
                                </li>
                                <li><span class="product-old-price">$124</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="waipio valley" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Awesome Vacation</h5>
                        <div class="product-desciption">Pulvinar nostra himenaeos pulvinar facilisi dui</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 9 days 30 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$80</span>
                                </li>
                                <li><span class="product-old-price">$195</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Hot mixer" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Modern DJ Set</h5>
                        <div class="product-desciption">Condimentum porttitor eros metus quisque scelerisque</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 9 days 22 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$66</span>
                                </li>
                                <li><span class="product-old-price">$108</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Old No7" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Jack Daniels Huge Pack</h5>
                        <div class="product-desciption">Hendrerit pretium magna ultricies massa</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 2 days 33 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$136</span>
                                </li>
                                <li><span class="product-old-price">$242</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Food is Pride" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Best Pasta</h5>
                        <div class="product-desciption">Praesent et justo sed platea est</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 1 day 41 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$97</span>
                                </li>
                                <li><span class="product-old-price">$152</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Aspen Lounge Chair" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Aspen Lounge Chair</h5>
                        <div class="product-desciption">Fermentum neque morbi vel nec sed imperdiet</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i>  56 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$72</span>
                                </li>
                                <li><span class="product-old-price">$131</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Green Furniture" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Green Furniture Pack</h5>
                        <div class="product-desciption">Aliquet suspendisse placerat feugiat tellus platea fermentum</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 2 days 25 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$49</span>
                                </li>
                                <li><span class="product-old-price">$101</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="The Violin" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Violin Lessons</h5>
                        <div class="product-desciption">Commodo quisque porta dolor scelerisque</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 3 days 7 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$155</span>
                                </li>
                                <li><span class="product-old-price">$299</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Our Coffee miss u" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Coffe Shop Discount</h5>
                        <div class="product-desciption">In accumsan ullamcorper laoreet nam</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 5 days 50 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$44</span>
                                </li>
                                <li><span class="product-old-price">$110</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Best Camera</h5>
                        <div class="product-desciption">Diam sapien hac turpis euismod</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 7 days 27 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$100</span>
                                </li>
                                <li><span class="product-old-price">$256</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="The Hidden Power of the Heart" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Beach Holidays</h5>
                        <div class="product-desciption">Mauris elementum gravida tincidunt magna ac</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 3 days 28 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$54</span>
                                </li>
                                <li><span class="product-old-price">$170</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="My Ice Cream and Your Ice Cream Spoons" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Lovely Ice Cream Spoons</h5>
                        <div class="product-desciption">Dapibus ante sapien gravida integer</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 3 days 18 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$61</span>
                                </li>
                                <li><span class="product-old-price">$130</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Ana 29" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Hot Summer Collection</h5>
                        <div class="product-desciption">Eu molestie habitasse tincidunt luctus</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 4 days 5 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$106</span>
                                </li>
                                <li><span class="product-old-price">$190</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="a turn" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Diving with Sharks</h5>
                        <div class="product-desciption">Eget penatibus hac tortor imperdiet ante elementum</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 9 days 58 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$103</span>
                                </li>
                                <li><span class="product-old-price">$257</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="Gamer Chick" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">Playstation Accessories</h5>
                        <div class="product-desciption">Habitant in laoreet aenean sapien</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 7 days 35 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$68</span>
                                </li>
                                <li><span class="product-old-price">$159</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src={{asset("img/800x600.png")}} alt="Image Alternative text" title="AMaze" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">New Glass Collection</h5>
                        <div class="product-desciption">Dolor class in potenti natoque</div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 5 days 26 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$57</span>
                                </li>
                                <li><span class="product-old-price">$158</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>
        </div>	<a href="#" class="btn btn-primary btn-ghost">Explore All New Deals</a>
    </div>
    <div class="gap"></div>
</div>


<!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->
{% endblock %}